@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-bg: #637192;
    --color-white: #ffff;
    --color-green: #579E60;
    --color-red: #CC2836;
    --border-radius: 1rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-bg);


}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-white);
    width: 90vw;
    height: 80vh;
    margin-top: 5rem;
    border-radius: var(--border-radius);

    box-shadow: 0px 9px 45px -6px rgba(0, 0, 0, 0.81);
    position: relative;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

}

.add-task input {
    width: 40rem;
    border-radius: var(--border-radius);

}

input {
    font-size: 1.2rem;
    border: 2px solid #1F1F1F;
    background-color: #F1FFFA;
    padding: .5rem 1rem;
    outline: none;
}

#edit-task-input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20rem;
    width: 100%;
    height: 100%;
}

#edit-form {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#edit-form input {
    width: 100%;
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 2rem;
}




.add-task button {
    font-size: 1.2rem;
    background-color: var(--color-green);
    padding: .3rem 1rem;
    border-radius: var(--border-radius);
    margin-left: .7rem;
    color: var(--color-white);
    cursor: pointer;
    border: none;
}

.task-container {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    overflow: scroll;
    max-height: 60vh;

}

.task {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 2px solid #1F1F1F;

}

#task-btns button {
    margin-left: 1rem;
    color: var(--color-white);
    border: none;
    padding: .2rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.color-red {
    background-color: var(--color-red);
}

.color-green {
    background-color: var(--color-green);
}

@media screen and (max-width:900px) {
    html {
        font-size: 58%;
    }

    .task {
        flex-direction: column;
    }


    #task-btns button {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:600px) {

    #add-input {
        width: 20rem;
    }
}